<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RuntimeCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A17B7721F4B216A00CA3297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A17B78E1F4B216B00CA3297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A17B7991F4B216B00CA3297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
